<%= form_for(@recycling_way) do |f| %>
  <% if @recycling_way.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recycling_way.errors.count, "error") %> prohibited this recycling_way from being saved:</h2>

      <ul>
      <% @recycling_way.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :subcategory_id %><br>
    <%= f.text_field :subcategory_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
