<h2>Registrate</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email, "E-mail" %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :username, "Nombre de Usuario" %><br />
    <%= f.text_field :username, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :role, "Rol de usuario" %><br />
    <%= f.collection_select :role, User::Roles, :to_s, :humanize %>
  </div>

  <div class="field">
    <%= f.label :password , "Contraseña"%>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> caracteres mínimo)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation,"Vuleva a escribir su contraseña" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Registrarme" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
