<h2 class="text-center"><%=t('login.sign_up')%></h2>
<div class="row">
<div class="col-md-6 col-md-offset-3">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label t('login.email')%><br />
    <%= f.email_field :email, autofocus: true ,:class=>"form-control"%>
  </div>

  <div class="form-group">
    <%= f.label t('login.user')%><br />
    <%= f.text_field :username, autofocus: true,:class=>"form-control" %>
  </div>


  <div class="form-group">
    <%= f.label t('login.password')%>

  <div class="field">
    <%= f.label :role, "Rol de usuario" %><br />
    <%= f.collection_select :role, User::Roles, :to_s, :humanize %>
  </div>

  <div class="field">
    <%= f.label :password , "Contraseña"%>

    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> <%=t('login.caracter')%>)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" ,:class=>"form-control"%>
  </div>

  <div class="field">
    <%=f.label t('login.pd_confirm')%><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" ,:class=>"form-control"%>
  </div>

  <div class="actions">
    <%= f.submit t('login.sign_up'),:class=>"btn btn-primary"%>
  </div>
  <%= render "devise/shared/links" %>
  </div>
  
  </div>
<% end %>


