

<p>
  <strong>Name:</strong>
  <%= @subcategory.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @subcategory.description %>
</p>

<p>
  <strong>Image name:</strong>
  <%= @subcategory.image_name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @subcategory.name %>
</p>

<p>
  <strong>Examples:</strong>
  <%= @subcategory.examples %>
</p>

<p>
  <strong>Instructions:</strong>
  <%= @subcategory.instructions %>
</p>

<%= link_to 'Edit', edit_subcategory_path(@subcategory) %> |
<%= link_to 'Back', subcategories_path %>
