<h1 class="text-center">Editar Articulo</h1>
 
<%= form_for :article, url: article_path(@article), method: :patch do |f| %>




<% @article.errors.full_messages.each do |message|%>
    <div class="alert alert-danger">
      * <%= message %>
    </div>
  <%end%>  

  <div class="form-group">
    <%=f.label :Titulo%><br>
    <%= f.text_field :title,:class=>'form-control' %>
  </div>
 
  <div class="form-group">
    <%=f.label :Contenido %><br>
    <%= f.text_area :content,:class=>'form-control' %>
  </div>

   <div class="form-group">
  <%=f.label :Imagen %><br>
  <%= f.file_field :image%>
  </div>
 
  <p>
    <%= f.submit "Guardar",:class=>'btn btn-primary'%>
  </p>
 
<% end %>
 <br>
<%= link_to "Mostrar", @article %> |
<%= link_to "Atras", articles_path %>