<h1 class="text-center"><%=t('articles.title')%></h1>
<div class="container">
<div class="col-md-2 col-md-offset-6 col-sm-offset-6">
<%= link_to new_article_path do %>

   <span class="glyphicon glyphicon-file " data-toggle="tooltip" title=<%=t('general.new')%>></span>
<% end %>
</div>
</div>
<br>
<table class="table table-hover">
  <tr>


    <th><%=t('articles.wtitle')%></th>
    <th><%=t('articles.content')%></th>
     

    
    <th colspan="3"></th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.content %></td>

     
      

      

      <td> <%= link_to article.title, article_path(article)%>


      <td><%= link_to  edit_article_path(article) do%>
 <span class="glyphicon glyphicon-edit" data-toggle="tooltip" title=<%=t('general.edit')%>></span>
<% end %>
      </td>
      <td><%= link_to  article_path(article),

              method: :delete,
              data: { confirm: t('general.confirm')} do%>
<span class="glyphicon glyphicon-remove-sign" data-toggle="tooltip" title=<%=t('general.remove')%>></span>
<% end %>
              </td>
    </tr>
  <% end %>
</table>




