<h1 class="text-center">Lista de Articulos</h1>
<div class="container">

<div class="col-md-2 col-md-offset-6 ">
  <%= link_to new_article_path do %>
    <span class="glyphicon glyphicon-file")%></span>
  <% end %>
</div>

</div>
<br>
<table class="table table-hover">
  <tr>
    <th>Titulo</th>
    <th>Contenido</th>
    <th colspan="3"></th>
  </tr>
  <% @articles.each do |article| %>
    <tr>
      <td> <%= link_to article.title, article_path(article)%></td>
      <td><%= article.content %></td>
      <td><%= link_to  edit_article_path(article) do%>
          <span class="glyphicon glyphicon-edit"></span>
          <% end %>
      </td>
      <td><%= link_to  article_path(article),method: :delete,data: { confirm: 'Esta seguro?'} do%>
        <span class="glyphicon glyphicon-remove-sign"%></span>
        <% end %>
      </td>
    
    </tr>
  <% end %>
</table>
