<br>
<%= form_for :article, url: articles_path do |f| %>
  <div class="form-group  ">
    <%= f.label :title %><br>
    <%= f.text_field :title ,:class=>'form-control'%>
  </div>
 
 <div class="form-group">
    <%= f.label :content %><br>
    <%= f.text_area :content ,:class=>'form-control'%>
  </div>
 
  <p>
    <%= f.submit nil,:class=>'btn btn-primary'%>
  </p>
<% end %>
<br>
<%= link_to articles_path do%>
<span class="glyphicon glyphicon-arrow-left no-hover" ></span>
<%end%>