
<div class="container">
<div class="col-md-offset-4">
<p>
  <strong><%=t('articles.img')%></strong>
  <%= image_tag @article.image_path %>
</p>
</div>
</div>
<div class="panel panel-primary">
<div class="panel-heading">

	<p>
  <strong><%=t('articles.wtitle')%>:</strong>
  <%= @article.title %>
</p>
 
</div>
<div class="panel-body">
	<p>
  <strong><%=t('articles.content')%>:</strong>

  <%= @article.content %>
</p>



</div>
	
</div>

<%= link_to t('general.edit'), edit_article_path(@article) %> |
<%= link_to t('general.back'), articles_path %>


