<p id="notice" class="alert alert-success"><%= notice %></p>

<div class="panel panel-primary">
<div class="panel-heading">
	<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
</div>
<div class="panel-body">
<p>
  <strong>Content:</strong>
  <%= @article.content %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @article.image_path %>
</p>

</div>
	
</div>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>


