<p id="notice"><%=notice%></p>

<div class="panel panel-primary">
<div class="panel-heading">

	<p>
  <strong><%=t('articles.wtitle')%>:</strong>
  <%= @article.title %>
</p>
 
</div>


<div class="col-md-offset-1">
<p>
  <%= image_tag avatar_url(@article) ,class:"img-thumbnail" %>
</p>
</div>


<div class="panel-body">
	<p>
  <strong><%=t('articles.content')%>:</strong>

  <%= @article.content %>
</p>



</div>
	
</div>
<% if can? :update, @article %>
	<%= link_to t('general.edit'), edit_article_path(@article) %> |
<% end %>	
<%= link_to t('general.back'), articles_path %>


