<p id="notice" class="alert alert-success"><%=t('articles.mensaje') %></p>

<div class="panel panel-primary">
<div class="panel-heading">
	<p>
  <strong><%=t('articles.wtitle')%>:</strong>
  <%= @article.title %>
</p>
 
</div>
<div class="panel-body">
	<p>
  <strong><%=t('articles.content')%>:</strong>
<p>
  <strong>Content:</strong>
  <%= @article.content %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @article.image_path %>
</p>

</div>
	
</div>

<%= link_to t('general.edit'), edit_article_path(@article) %> |
<%= link_to t('general.back'), articles_path %>


