

<div class="panel panel-primary">
<div class="panel-heading">
<p class="text-center">
  <strong >
  <%= @article.title %>
  </strong>
</p>
 
</div>

<div class="thumbnail">
<div class="col-md-offset-1">


<div class="col-md-offset-1">


<div class="col-md-offset-1">



<div class="thumbnail">
<div class="text-center">
<p>
  <%= image_tag avatar_url(@article) ,class:"img-thumbnail" %>
</p>
</div>
</div>


<div class="panel-body">
<p>
  <strong>Contenido:</strong>

  <%= @article.content %>
</p>



</div>
	
</div>
<% if can? :update, @article %>
	<%= link_to "Editar", edit_article_path(@article) %> |
<% end %>	
<%= link_to "Atras", articles_path %>
