<p id="notice"><%=notice%></p>

<div class="panel panel-primary">
<div class="panel-heading">

	<p>
  <strong><%=t('articles.wtitle')%>:</strong>
  <%= @article.title %>
</p>
 
</div>

<<<<<<< HEAD
<<<<<<< HEAD
<div class="thumbnail">
<div class="col-md-offset-5">
=======

<div class="col-md-offset-1">
>>>>>>> 52ec9813d4fed3691a5e77e5c4e0c5de46727892
=======

<div class="col-md-offset-1">
>>>>>>> 79b9c238801874394047508d57d8c11bdc8982c1
<p>
  <%= image_tag avatar_url(@article) ,class:"img-thumbnail" %>
</p>
</div>


<div class="panel-body">
	<p>
  <strong><%=t('articles.content')%>:</strong>

  <%= @article.content %>
</p>



</div>
	
</div>
<% if can? :update, @article %>
	<%= link_to t('general.edit'), edit_article_path(@article) %> |
<% end %>	
<%= link_to t('general.back'), articles_path %>
