




<div class="panel panel-primary">
<div class="panel-heading">

	<p>
  <strong>Titulo:</strong>
  <%= @article.title %>
</p>
 
</div>

<<<<<<< HEAD
<div class="thumbnail">
<div class="col-md-offset-5">
=======

<div class="col-md-offset-1">
>>>>>>> 52ec9813d4fed3691a5e77e5c4e0c5de46727892
<p>
  <%= image_tag avatar_url(@article) ,class:"img-thumbnail" %>
</p>
</div>


<div class="panel-body">
	<p>
  <strong>Contenido:</strong>

  <%= @article.content %>
</p>



</div>
	
</div>
<% if can? :update, @article %>
	<%= link_to "Editar", edit_article_path(@article) %> |
<% end %>	
<%= link_to "Atras", articles_path %>


