<%= form_for(@waste_picker) do |f| %>
  <% if @waste_picker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@waste_picker.errors.count, "error") %> prohibited this waste_picker from being saved:</h2>

      <ul>
      <% @waste_picker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, :required => true,:class=>'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :affiliation %><br />
    
    <%= f.collection_select(:affiliation_id, @affiliations, :id, :name, {prompt:"Please select"},{class:"form-control"})%>
    
  </div>
  <div class="form-group">
    <%= f.label :birth_date %><br>
    
    <%= f.text_field :birth_date, 'data-behaviour' => 'datepicker',:class=>'form-control ' %>
  </div>
  <div class="form-group">
    <%= f.label :start_date %><br>
    <%= f.text_field :start_date, 'data-behaviour' => 'datepicker',:class=>'form-control ' %>
    

  </div>
  <div class="form-group">
    <%= f.label :background %><br>
    <%= f.text_area :background,:class=>'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :message %><br>
    <%= f.text_field :message ,:class=>'form-control'%>
  </div>
  <div class="actions">
    <%= f.submit nil,:class=>'btn btn-primary'%>
  </div>
 


<% end %>
