<%= form_for(@waste_picker) do |f| %>
  <% if @waste_picker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@waste_picker.errors.count, "error") %> prohibited this waste_picker from being saved:</h2>

      <ul>
      <% @waste_picker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, :required => true %>
  </div>
  <div class="field">
    <%= f.label :birth_date %><br>
    <%= f.date_select :birth_date, start_year: Date.today.year-90, end_year: Date.today.year-18 %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.date_select :start_date, start_year: Date.today.year-72, end_year: Date.today.year %>
  </div>
  <div class="field">
    <%= f.label :background %><br>
    <%= f.text_area :background %>
  </div>
  <div class="field">
    <%= f.label :message %><br>
    <%= f.text_field :message %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
