<h1>Listing waste_pickers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Affiliation</th>
      <th>Birth date</th>
      <th>Start date</th>
      <th>Background</th>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @waste_pickers.each do |waste_picker| %>
      <tr>
        <td><%= waste_picker.name %></td>
        <td><%= waste_picker.affiliation ? waste_picker.affiliation.name : 'N/A' %></td>
        <td><%= waste_picker.birth_date %></td>
        <td><%= waste_picker.start_date %></td>
        <td><%= waste_picker.background %></td>
        <td><%= waste_picker.message %></td>
        <td><%= link_to 'Show', waste_picker %></td>
        <td><%= link_to 'Edit', edit_waste_picker_path(waste_picker) %></td>
        <td><%= link_to 'Destroy', waste_picker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Waste picker', new_waste_picker_path %>
