<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @waste_picker.name %>
</p>

<p>
  <strong>Affiliation:</strong>
  <%= @waste_picker.affiliation ? @waste_picker.affiliation.name : 'N/A' %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @waste_picker.birth_date %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @waste_picker.start_date %>
</p>

<p>
  <strong>Background:</strong>
  <%= @waste_picker.background %>
</p>

<p>
  <strong>Message:</strong>
  <%= @waste_picker.message %>
</p>

<%= link_to 'Edit', edit_waste_picker_path(@waste_picker) %> |
<%= link_to 'Back', waste_pickers_path %>
