

<p>
  <strong>Nombre:</strong>
  <%= @waste_picker.name %>
</p>

<p>
  <strong>Asociacion</strong>
  <%= @waste_picker.affiliation ? @waste_picker.affiliation.name : 'N/A' %>
</p>

<p>
  <strong>Fecha de Nacimiento:</strong>
  <%= @waste_picker.birth_date %>
</p>

<p>
  <strong>Fecha de Inicio:</strong>
  <%= @waste_picker.start_date %>
</p>

<p>
  <strong>Historial:</strong>
  <%= @waste_picker.background %>
</p>

<p>
  <strong>Mensaje:</strong>
  <%= @waste_picker.message %>
</p>

<%= link_to 'Editar', edit_waste_picker_path(@waste_picker) %> |
<%= link_to 'Atras', waste_pickers_path %>
