<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bussine.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @bussine.address %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @bussine.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @bussine.longitude %>
</p>

<%= link_to 'Edit', edit_bussine_path(@bussine) %> |
<%= link_to 'Back', bussines_path %>
