<%= form_for(@affiliation) do |f| %>
  


  <% @affiliation.errors.full_messages.each do |message| %>
    <div class="alert alert-danger">
      * <%= message %>
    </div>
  <%end%> 

  <div class="form-group">
    <%=f.label :Nombre%><br>
    <%= f.text_field :name ,:class=>'form-control'%>
  </div>
  <div class="actions">
    <%= f.submit "Guardar",:class=>'btn btn-primary'%>
  </div>
<% end %>
