<%= form_for(@affiliation) do |f| %>
  


  <% @affiliation.errors.full_messages.each do |message| %>
    <div class="alert alert-danger">
      * <%= message %>
    </div>
  <%end%> 

  <div class="form-group">
    <%=f.label :Nombre%><br>
    <%= f.text_field :name ,:class=>'form-control'%>
  </div>

  <div class="form-group">
    <%=f.label :Sector%><br>
    <%= f.text_field :sector ,:class=>'form-control'%>
  </div>

   <div class="form-group">
    <%=f.label :Direccion%><br>
    <%= f.text_field :direccion ,:class=>'form-control'%>
  </div>


   <div class="form-group">
    <%=f.label :Telefono%><br>
    <%= f.text_field :phone1 ,:class=>'form-control'%>
  </div>

  <div class="form-group">
    <%=f.label :Email%><br>
    <%= f.text_field :email ,:class=>'form-control'%>
  </div>

  <div class="form-group">
    <%=f.label :Imagen%><br>
    <%= f.file_field :image  %>
  </div>


  <div class="form-group">
    <%=f.label :Publish%><br>
    <%= f.check_box :publish ,:class=>'form-control'%>
  </div>



  <div class="actions">
    <%= f.submit "Guardar",:class=>'btn btn-primary'%>
  </div>
<% end %>
