<% if can? :manage, User %>
<div ng-controller="articlesCtrl">
  <h1>esto es del Ctrl {{message}}</h1>
  <div>
    <ul ng-repeat="article in articles">
      <li><h3>{{ article.title }}</h3></li>
    </ul>
  </div>
</div>

  <table class="table table-hover">
	  <tr>
	    <th>Nombre de Usuario</th>
	    <th>Correo</th>
	    <th>Rol</th>
	    <th colspan="3"></th>
	  </tr>
  <% @users.each do |user| %>
    <tr>    
    	<td><%= user.username %> </td> 
    	<td><%= user.email %></td> 
    	<td><%= user.role %></td> 
    	<td><%= user.password %></td>    	
    	<td><%= link_to  edit_user_path(user) do%>
          <span class="glyphicon glyphicon-edit" data-toggle="tooltip" title="editar"></span>
          <% end %>
      </td>
      <td><%= link_to  user, method: :delete,data: { confirm: t('general.confirm')} do%>
        <span class="glyphicon glyphicon-remove-sign" data-toggle="tooltip" title="eliminar">
        </span>
        <% end %>
      </td>      	
    </tr>
  <% end %>
</table>
<% else %>
  <!-- aqui deberia mostrarse un menu de navegacion para el autor -->
<% end %>
