<%= form_for(@example) do |f| %>
<% @example.errors.full_messages.each do |message| %>
<div class="alert alert-danger">
        * <%= message %>
        </div>
      <% end %>
<div class="row">
<div class="col-md-6 ">
  
      
      

  <div class="form-group">
    <%= f.label :Nombre %><br>
    <%= f.text_field :name ,:class=>"form-control"%>
  </div>
  
  <div class="form-group">
    <%= f.label :Subcategoria %><br />
    <%= f.collection_select(:subcategory_id, $subcategories, :id, :name, {prompt:"Seleccione"} ,{class:"form-control"})%>
  </div>
  <div class="form-group">
    <%= f.label :Habilitado%><br>
    
    <%= f.check_box :enabled %>
  </div>
  


  <div class="actions">
    <%= f.submit "Guardar",:class=>"btn btn-primary"%>
  </div>
  </div>
  </div>
<% end %>
