<h1 class="text-center">Lista de Ejemplos</h1>
<br>
<div class="row">
<div class="col-md-offset-6">
<%= link_to new_example_path do%>
<span class="glyphicon glyphicon-plus-sign"></span>
<% end %>
</div>
</div>



<br>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Habilitado</th>
      <th>Subcategoria</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @examples.each do |example| %>
      <tr>
        <td><%= link_to example.name, example %></td>
        <td><%= example.enabled %></td>
        <td><%= example.subcategory ? example.subcategory.name : nil %></td>
       
        <td><%= link_to  edit_example_path(example) do%>
        <span class="glyphicon glyphicon-edit"%></span>
          <% end %>

        </td>
        <td><%= link_to example, method: :delete, data: { confirm: '
          Esta Seguro?' } do%>
        <span class="glyphicon glyphicon-remove-sign"%></span>
        <% end %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

