

<p>
  <strong>Nombre:</strong>
  <%= @example.name %>
</p>

<p>
  <strong>Habilitado:</strong>
  <%= @example.enabled %>
</p>

<p>
  <strong>Subcategoria:</strong>
  <%= @example.subcategory.name %>
</p>

<%= link_to 'Editar', edit_example_path(@example) %> |
<%= link_to 'Atras', examples_path %>
