<h1 class="text-center">Lista de Categorias</h1>

<br>
<div class="row">
<div class="col-md-offset-6">
<%= link_to new_category_path do%>
<span class="glyphicon glyphicon-plus-sign"></span>
<% end %>
</div>
</div>
<br>
<br>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Nombre de la Imagen</th>
      <th>Columna</th>
      <th>Tipo de Residuo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= link_to category.name,category %></td>
        <td><%= category.description %></td>
        <td><%= category.image_name %></td>
        <td><%= category.column %></td>
        <td><%= category.waste_type %></td>
    
        <td><%= link_to edit_category_path(category) do%>
        <span class="glyphicon glyphicon-edit"%></span>
          <% end %>

        </td>
        <td><%= link_to category, method: :delete, data: { confirm: 'Esta Seguro?' } do%>
        <span class="glyphicon glyphicon-remove-sign"%></span>
        <% end %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


