
<p>
  <strong>Nombre:</strong>
  <%= @category.name %>
</p>
<p>
  <strong>Descripcion</strong>
  <%= @category.description %>
</p>
<p>
  <strong>Nombre_Imagen:</strong>
  <%= @category.image_name %>
</p>
<p>
  <strong>Columna:</strong>
  <%= @category.column %>
</p>
<p>
  <strong>Tipo de Residuo:</strong>
  <%= @category.waste_type %>
</p>

<%= link_to 'Editar', edit_category_path(@category) %> |
<%= link_to 'Atras', categories_path %>
