<div class="panel panel-primary">
<div class="panel-heading">

<p>
<div class="text-center">
  <strong ><%= @rate.title %></strong>
  </div>
  
</p>
</div>
<div class="panel-body">
<p>
  <strong>Descripcion:</strong>
  <%= @rate.description %>
</p>

<p>
  <strong>Image name:</strong>
  <%= @rate.image_name %>
</p>
</div>
</div>


<%= link_to 'Editar', edit_rate_path(@rate) %> |
<%= link_to 'Atras', rates_path %>
