<!DOCTYPE html>
<html>
<head>
  <title>Rails4Example</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
	<p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <p class="error"><%= flash[:error] %></p>

    <div id="user_nav">
    	<% if user_signed_in? %>
    	Bienvenido <%= current_user.email %> ¿No eres tú?
    	<%= link_to "Cerrar Sesión", destroy_user_session_path %>
    	<% else %>
      <% if can? :manage, User %>
    	 <%= link_to "Registrar nuevo Usuario", new_user_registration_path %> o
      <% end %> 
    	<%= link_to "Iniciar Sesión", new_user_session_path %>
    	<% end %>	
    </div>
    <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <% if user_signed_in? %>
        <div class="admin">
          <% if can? :manage, User %>
            <%= link_to "Add User", new_user_path %>
          <% end %>
          <%= link_to "My Account", edit_user_registration_path %>
        </div>
      <% end %>
      <%= yield %>
    </div>
</div>
</body>
</html>
