<!DOCTYPE html>
<html>
<head>
  <title>Rails4Example</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
	<p id="notice" class="alert alert-success"><%=notice%></p>
    <p class="alert"><%= alert %></p>

    <div id="user_nav">
    	<% if user_signed_in? %>
    	<%=t('login.welcome')%><%= current_user.email %><%=t('login.no_you')%>
    	<%= link_to t('login.log_out'), destroy_user_session_path %>
    	<% else %>
    	<%= link_to t('login.sign_up'), new_user_registration_path %> o
    	<%= link_to t('login.sign_in'), new_user_session_path %>
    	<% end %>	
    </div>
<%= yield %>
</div>
</body>
</html>
