<!DOCTYPE html>
<html>
<head>
  <title>Rails4Example</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div id="user_nav">
    	<% if user_signed_in? %>
    	Bienvenido <%= current_user.email %> ¿No eres tú?
    	<%= link_to "Cerrar Sesión", destroy_user_session_path %>
    	<% else %>
    	<%= link_to "Registrarse", new_user_registration_path %> o
    	<%= link_to "Iniciar Sesión", new_user_session_path %>
    	<% end %>	
    </div>
<%= yield %>
</div>
</body>
</html>
